{% extends 'logbook/base.html' %}

{% block content %}


  {% if form %}
    <h3>Errors: </h3>
    {% for field in form  %}
      {% if field.errors %}
        {% for error in field.errors  %}
          <p>{{ error }}</p>
        {% endfor %}
      {% endif %}
    {% endfor %}
    
    {{ form.filename.errors }}
    {{ form.errors }}
    {{ form.non_field_errors }}

    <h3>Form:</h3>
    {{ form }}
  {% endif %}

{% endblock %}
