{% extends 'logbook/base.html' %}

{% block content %}

{% if fahrer %}
<ul>
{% for f in fahrer %}
    <li> {{ f.name }} / {{ f.work_id }} / {{ f.email }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
