{% extends 'logbook/base.html' %}

{% block content %}

{% if fahrzeuge %}
<ul>
{% for f in fahrzeuge %}
    <li> {{ f.kennz }} / {{ f.tuev }} / {{ f.fahrer }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
