{% extends 'logbook/base.html' %}

{% block content %}

<div class="">

<h3>Kontodetails Fuhparkleiter</h3>
<ul>
  <li>Name: {{ leiter.name }} </li>
  <li>Mitarbeiternummer: {{ leiter.work_id }} </li>
  <li>E-mail: {{ leiter.email }}</li>
  <li>Tel: {{ leiter.tel }}</li>
</ul>

<form class="" action="account" method="post">
  {% csrf_token %}
  <!-- <input type="submit" name="user" value="Kontodaten ändern"> -->
  <input type="hidden" name="id" value="{{ leiter.pk }}">
  <button type="submit" name="user" value="leiter">Kontodaten ändern</button>
</form>

</div>


{% endblock %}
