{% extends 'logbook/base.html' %}

{% block content %}

{% if maengel %}
<ul>
{% for m in maengel %}
  <li> Datum: {{ m.dat }} / Fahrzeug: {{ m.fahrzeug }} / Beschreibung: {{ m.text }} </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
