{% extends 'logbook/base.html' %}

{% block content %}

{% if maengel %}
<ul>
{% for m in maengel %}
    <li> {{ m.dat }} / {{ m.fahrzeug }} / {{ m.text }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
