{% extends 'logbook/base.html' %}

{% block content %}

{% if rechnungen %}
<ul>
{% for r in rechnungen %}
    <li> {{ r.rech_num }} / {{ r.dat }} / {{ r.fahrzeug }} / {{ r.betrag }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
