{% extends 'logbook/base.html' %}

{% block content %}
{% include 'logbook/header.html' %}


<div class="container-fluid">

  {% if msg %}

    <div class="msg-box">
      <p> {{ msg }} </p>
    </div>

  {% endif %}

  <div class="row">
    <div class="col-md-5">
        <div class="header-box">
          <h3>Kontodaten ändern</h3>
        </div>

    <form class="" id="acc" action="account" method="post">
      {% csrf_token %}

      {# Namen und Mitarbeiternummer dürfen nur vom Leiter geändert werden #}
      {% if usertype == 'leiter' %}
        <div class="form-group">
          <label for="name">Name:</label>
          <input class="form-control" type="text" id="name" name="name" value="{{ user.name|default_if_none:'' }}">
        </div>

        <div class="form-group">
          <label for="name">Mitarbeiternummer:</label>
          <input class="form-control" type="text" id="work_id" name="work_id" value="{{ user.work_id|default_if_none:'' }}">
        </div>
      {% endif %}


      <div class="form-group">
        <label for="email">E-Mail-Adresse:</label>
        <input class="form-control" type="email" id="email" name="email" value="{{ user.email|default_if_none:'' }}">
      </div>

      <div class="form-group">
        <label for="tel">Telefon:</label>
        <input class="form-control" type="tel" id="tel" name="tel" value="{{ user.tel|default_if_none:'' }}">
      </div>

      <button class="btn btn-primary btn-lg" type="submit" form="acc" name="speichern" onclick="return confirm('Sind Sie sicher?')">Änderungen speichern</button>

    </form>
  </div>

  <div class="col-md-5">

    <div class="header-box">
      <h3>Passwort ändern</h3>
    </div>

    <form class="form-group" name="" action="account" method="post">
      {% csrf_token %}

      {# in der view verwendet, um zu erkennen, ob Passwort geändert werden soll  #}
      <input type="hidden" name="pw" value="true">

      <div class="form-group">
        <label for="pw1">neues Passwort:</label>
        <input class="form-control" type="password" id="pw1" name="pw1" value=''>
      </div>

      <div class="form-group">
        <label for="pw2">neues Passwort wiederholen:</label>
        <input class="form-control" type="password" id="pw2" name="pw2" value=''>
      </div>

      <button class="btn btn-primary btn-lg" type="submit" name="speichern" onclick="return confirm('Sind Sie sicher?')">Passwort ändern</button>

    </form>
  </div>


  </div>
  <div class="cat-box">
    <form class="" action="/" method="post">
      {% csrf_token %}
      <button class="btn btn-primary btn-lg" type="submit">Zurück</button>
    </form>
  </div>
</div>

{% endblock %}
