<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fahrtenbuch</title>
    <!-- Bootstrap Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap Javascript-Plugins -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Responsivität -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {# notwendig zum Einbinden statischer Inhalte #}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Fahrtenbuch</title>

  </head>


  <body>
    <div id="wrapper">
      <div id="shadow">
        <div style="text-align: left">
          <a href="/">
            <img src="{% static 'img/car.svg' %}"  style="margin-top: 20px" width="300px" length="auto" alt="Logo">
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a id="logo" href="/">E-Fahrtenbuch</a>
        </div>

        {# Eigentlicher Inhalt der aufgerufenen Seite #}
        <div class="">
          {% block content %}
          {% endblock %}
        </div>


      <!-- Footer -->
        <footer>
          <div id="footernav">
            <ul>
              <li><a href="impressum">Impressum</a></li>
              <li><a href="datenschutz">Datenschutz</a></li>
              <li><a href="support">Support</a></li>
              <li><a href="kontakt">Kontakt</a></li>
            </ul>
          </div>
          <div>
            <p> &nbsp; &copy; Copyright 2020, Müller & Dobler, All Rights Reserved </p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
