{% extends 'logbook/base.html' %}

{% block content %}

<div id="wrapper">
    <div id="shadow">
        <div class="container-fluid">


            <h3>Datenschutz</h2>
                <p>
                    Verantwortliche im Sinne der Datenschutz-Grundverordnung sind:
                    Konstantin Müller & Melina Dobler (Wir) <br>
                    Hochschulring 1, 15745 Wildau, Deutschland <br>
                    <br>
                    <h5>Welche Daten werden beim Besuch unserer Webseiten verarbeitet?</h5> <br>
                    <br>
                    Erhobene Daten:<br><br>
                    Beim Besuch unserer Webseiten werden von Ihrem Browser automatisch folgende Daten übermittelt:<br>
                    Ihre IP - Adresse<br>
                    Die Webseite, von der Sie kommen,<br>
                    Webseiten, die Sie über unsere Seite aufrufen<br>
                    Die Seiten, die Sie anklicken, <br>
                    sowie Uhrzeit des Seitenaufrufs<br>
                    Name Ihres Internet Service Providers<br>
                    Ihr Browsertyp und dessen Version<br>
                    Das Betriebssystem Ihres Endgeräts<br>
                    das Datum und die Dauer des Besuches.<br><br>
                    Zwecke der Datenverarbeitung:<br>
                    Die vorübergehende Speicherung dieser Daten ist notwendig, um eine Auslieferung der Webseite an
                    Ihren Rechner zu ermöglichen <br>
                    und um die Funktionsfähigkeit der Webseite sicherzustellen. Mit Hilfe dieser Daten gewinnen wir auch
                    statistische Erkenntnisse darüber, <br>
                    wie unsere Webseiten genutzt werden. Darüber hinaus erfassen wir die Daten, um unzulässige Zugriffe
                    auf den Webserver und <br>
                    die missbräuchliche Nutzung der Webseiten rückverfolgen und verhindern zu können und zur Sicherung
                    unserer informationstechnischen Systeme.<br>
                    <br>
                    Rechtsgrundlage:<br>
                    Wir speichern diese Daten vorübergehend auf Grundlage berechtigter Interessen (Art. 6 Abs. 1 f
                    DSGVO). <br>
                    Unser berechtigtes Interesse liegt darin, die vorstehend beschriebenen Zwecke zu erreichen.<br>
                    <br>
                    Speicherdauer und Steuerungsoptionen:<br>
                    Die Daten werden gelöscht, wenn Sie für die Erreichung der Zwecke nicht mehr notwendig sind.
                    Logfiles werden nach spätestens 90 Tagen gelöscht.<br>
                    <br>
                    <br>
                    Im Folgenden informieren wir Sie darüber, welche Daten erhoben und verarbeitet werden, wenn Sie mit
                    uns Kontakt aufnehmen, einen Account eröffnen.<br>
                    <br>
                    Kontaktaufnahme<br>
                    <br>
                    Erhobene Daten:<br>
                    <br>
                    Wir erheben und verarbeiten die von Ihnen mitgeteilten Daten, wie Ihre Kontaktdaten, Ihren Namen und
                    ihr Anliegen, wenn Sie über ein Kontaktformular <br>
                    oder per E-Mail mit uns in Kontakt treten. Alle Daten, die Sie uns übermitteln, werden verschlüsselt
                    zwischen Ihren Browser und unserem Server übertragen.<br>
                    <br>
                    Zwecke der Datenverarbeitung:<br>
                    <br>
                    Die Datenverarbeitung erfolgt durch unseren Kundenservice oder von uns beauftragten Dienstleistern
                    ausschließlich auf Grundlage und zur Bearbeitung Ihrer Anfrage.<br>
                    <br>
                    Rechtsgrundlage:<br>
                    <br>
                    Wir verarbeiten Ihre Daten zur Durchführung vorvertraglicher und vertraglicher Maßnahmen, die auf
                    Ihre Anfrage hin erfolgen (Art. 6 Abs. 1 b DSGVO)<br>
                    <br>
                    Speicherdauer:<br>
                    <br>
                    Wir speichern Ihre Daten so lange, wie wir sie für den konkreten Verarbeitungszweck, zur
                    Gewährleistung oder zur Erfüllung gesetzlicher Aufbewahrungsfristen benötigen.<br>
                    <br>
                    <h5>Widerruf der Einwilligung</h5><br>
                    <br>
                    Sie können ggf. erteilte Einwilligungen in die Verarbeitung Ihrer personenbezogenen Daten jederzeit
                    mit Wirkung für die Zukunft widerrufen.<br>
                    Bitte beachten Sie, dass der Widerruf keine Auswirkungen auf die Rechtmäßigkeit der bisherigen
                    Datenverarbeitung hat und dass er sich nicht auf <br>
                    solche Datenverarbeitungen erstreckt, für die ein gesetzlicher Erlaubnisgrund vorliegt und die daher
                    auch ohne Ihre Einwilligung verarbeitet werden dürfen.<br>
                    <br>
                    <h5>Weitere Betroffenenrechte</h5><br>
                    <br>
                    Darüber hinaus stehen Ihnen nach den Artikeln 15 bis 21 und 77 der EU-Datenschutzgrundverordnung
                    (DSGVO) <br>
                    bei Vorliegen der gesetzlichen Voraussetzungen folgende Betroffenenrechte zu:<br>
                    <br>
                    Auskunft:<br>
                    <br>
                    Sie können jederzeit verlangen, dass wir Ihnen Auskunft darüber erteilen, welche Ihrer
                    personenbezogenen Daten wir wie verarbeiten <br>
                    und eine Kopie der von Ihnen gespeicherten personenbezogenen Daten zur Verfügung stellen, Art. 15
                    DSGVO.<br>
                    <br>
                    Berichtigung:<br>
                    <br>
                    Sie können die Berichtigung unrichtiger personenbezogener Daten sowie Vervollständigung
                    unvollständiger personenbezogener Daten verlangen, Art. 16 DSGVO.<br>
                    <br>
                    Löschung:<br>
                    <br>
                    Zur Löschung Ihrer personenbezogenen Daten: Bitte beachten Sie, von der Löschung ausgenommen sind
                    Daten, die wir zur Durchführung und Abwicklung von Verträgen<br>
                    und zur Geltendmachung, Ausübung und Verteidigung von Rechtsansprüchen benötigen sowie Daten, für
                    die gesetzliche, aufsichtsrechtliche oder <br>
                    vertragliche Aufbewahrungspflichten bestehen, Art. 17 DSGVO.<br>
                    Einschränkung der Verarbeitung:<br>
                    <br>
                    Sie können unter bestimmten Umständen die Einschränkung der Verarbeitung verlangen, z.B. wenn Sie
                    der Ansicht sind, <br>
                    dass Ihre Daten unrichtig sind, wenn die Verarbeitung rechtswidrig ist oder Sie Widerspruch gegen
                    die Datenverarbeitung eingelegt haben.<br>
                    Dies führt dazu, dass Ihre Daten ohne Ihre Einwilligung nur sehr beschränkt verarbeitet werden
                    dürfen, z.B. zur Geltendmachung, Ausübung und <br>
                    Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte anderer natürlicher und juristischer
                    Personen, Art. 18 DSGVO.<br>
                    <br>
                    Widerspruch gegen die Datenverarbeitung:<br>
                    <br>
                    Sie haben die Möglichkeit, jederzeit der Datenverarbeitung zu Direktwerbezwecken zu widersprechen.
                    <br>
                    Zudem können Sie bei Vorliegen besonderer Gründe jederzeit den Datenverarbeitungen widersprechen,
                    die auf Grundlage <br>
                    eines berechtigten Interesses erfolgen, Art. 21 DSGVO.<br>
                    <br>
                    Datenübertragbarkeit:<br>
                    <br>
                    Sie haben das Recht, die Daten, die Sie uns bereitgestellt haben und die wir auf Grundlage Ihrer
                    Einwilligung oder zur Vertragserfüllung verarbeiten, <br>
                    in einem gängigen, maschinenlesbaren Format zu erhalten und im Rahmen des technisch machbaren eine
                    direkte Übermittlung dieser Daten an Dritte zu verlangen, Art. 20 DSGVO.
                    <br>
                    <br>
                    Stand: 07. April 2020<br>

                </p>
        </div>
    </div>
</div>
{% endblock %}
