{% extends 'logbook/base.html' %}

{% block content %}
{% include 'logbook/header.html' %}

{% if msg %}

  <div class="msg-box">
    <p> {{ msg }}</p>
  </div>

{% endif %}

<div id="wrapper">
  <div id="shadow">
    <div class="container-fluid">

<div class="col-md-5">

  <div class="header-box">
    <h3>Fahrer zuweisen</h3>
  </div>

  <form class="form-group" name="" action="fahrer_zuweis" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="fahrer">Name des Fahrers:</label>
      <select class="form-control bootstrap-select" name="fahrer">
        {% for f in fahrerliste %}
          <option value="{{ f }}">{{ f }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="fahrz">Fahrzeug auswählen:</label>
        <select class="form-control bootstrap-select" name="fahrz">
          {% for f in fahrzliste %}
            <option value="{{ f }}">{{ f }}</option>
          {% endfor %}
        </select>
    </div>

    <button class="btn btn-primary btn-lg" type="submit" name="speichern">Zuweisung speichern</button>

  </form>
  <form class="" action="/" method="post">
    {% csrf_token %}
    <button class="btn btn-primary btn-lg" type="submit">Zurück</button>
  </form>
</div>
</div>
</div>
</div>


{% endblock %}
