{% extends 'logbook/base.html' %}

{% block content %}
{% include 'logbook/header.html' %}

{% if fahrzeug %}
<div id="wrapper">
  <div id="shadow">
    <div class="cat-box" style="  text-align: left;">

      <h3>Fahrzeugdaten</h3>

      <ul>
        <li> <span style="font-weight:bold">Kennzeichen: </span>{{ fahrzeug.kennz }} </li>
        <li> <span style="font-weight:bold">FIN: </span>{{ fahrzeug.fin }} </li>
        <li> <span style="font-weight:bold">Zulassungdatum: </span>{{ fahrzeug.zuldat }} </li>
        <li> <span style="font-weight:bold">TÜV/AU-Termin: </span>{{ fahrzeug.tuev }} </li>
        <li> <span style="font-weight:bold">KM-Stand: </span>{{ fahrzeug.km_stand }} </li>
      </ul>

    </div>
  </div>

  <div class="cat-box">
    <form class="" action="/" method="post">
      {% csrf_token %}
      <button class="btn btn-primary btn-lg" type="submit">Zurück</button>
    </form>
  </div>
</div>
{% endif %}


{% endblock %}
