<div id="footernav">
  <ul>
    <li><a href="impressum">Impressum</a></li>
    <li><a href="datenschutz">Datenschutz</a></li>
    <li><a href="support">Support</a></li>
    <li><a href="kontakt">Kontakt</a></li>
  </ul>
</div>

<div>
  <p> &nbsp; &copy; Copyright 2020, Müller & Dobler, All Rights Reserved </p>
</div>
