{% extends 'logbook/base.html' %}

{% block content %}
{% include 'logbook/header.html' %}


<div id="wrapper">
  <div id="shadow">
  <div class="container-fluid">

    {# Benachtrichtigung anzeigen, falls vorhanden #}
    {% if msg %}
      <div class="msg-box">
        <p> {{ msg }}</p>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-5">

        <h3>{{ model }} eintragen</h3>

        <form class="" action="{{ view }}" method="post">
            {% csrf_token %}

            {# ID des Models versteckt übermitteln #}
            <input type="hidden" name="model_id" value="{{ model_id|default_if_none:'' }}">

            {# ForeignKey des Models, falls vorhanden, versteckt übermitteln #}
            <input type="hidden" name="fk" value="{{ fk|default_if_none:'' }}">

            {% for field in form %}
              <div class="form-group">

                {# in ModelForm obligatorisch enthaltenen ForeignKey überspringen #}
                {% if field.html_name == 'fk' %}


                {# da ModelForm leider kein Select-Tag rendern kann, hier manuell #}
                {% elif field.html_name == 'behoben' %}
                    <label for="behoben">behoben:</label>
                    <select class="form-control bootstrap-select" name="behoben">
                      <option value="NEIN">NEIN</option>
                      <option value="JA">JA</option>
                    </select>
                {% else %}

                {{ field.errors }}

                {{ field.label_tag }}

                <input class="form-control" type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}">

                {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}

                {% endif %}
              </div>
            {% endfor %}

            {# Kennzeichen verdeckt übermitteln, wenn User ein Fahrer ist. Dient zur Zuorndnung, falls ForeignKey nicht übermittelt wurde #}
            {% if usertype == 'fahrer' %}
              <div class="form-group">
                  <input class="form-control" type="hidden" name="kennz" value="{{ kennz }}">
              </div>
            {% endif %}

            {# Fahrzeug über Kennzeichen auswählen: für Fuhrparkleiter bei den Formen für Rechnung und Mangel #}
            {% if usertype == 'leiter' and model != 'Fahrzeug' and model != 'Fahrer'%}
              {% if fahrzList %}
              <div class="form-group">
                <label for="kennz">Kennzeichen:</label>
                <select class="form-control bootstrap-select" name="kennz">
                  {% for fz in fahrzList %}
                    <option value="{{ fz }}">{{ fz }}</option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}
            {% endif %}



            <button class="btn btn-primary btn-lg" type="submit" name="model" value="{{ model }}">{{ transmission }}</button>

        </form>

        <p></p>

        <form class="" action="/" method="post">
          {% csrf_token %}
          <button class="btn btn-primary btn-lg" type="submit">Zurück</button>
        </form>

    </div>
  </div>
  </div>
</div>

{% endblock %}
