
{# {% block header %}#}

<div class="container-fluid">
  <div id="topnav">
    <ul>
      <li><a href='/'>Startseite</a></li>
      <li><a href="support">Support</a></li>
      <li><a href="account">Meine Daten</a></li>
      <li>
        <form class="" action="log_out" method="post">
            {% csrf_token %}
          <button type="submit" name="logout">logout</button>
        </form>
      </li>
    </ul>
  </div>


</div>

{# {% endblock %}#}
