{% extends 'logbook/base.html' %}

{% block content %}

<div id="wrapper">
    <div id="shadow">
        <div class="container-fluid">

            <h3>Impressum </h3>
            <br>
            <h4>Angaben gemäß § 5 TMG</h4>
            <br>
            <h5>Verantwortung Gesamtprojekt E-Fahrtenbuch:</h5>
            <p> Konstantin Müller & Melina Dobler <br>
                Hochschulring 1<br>
                15745 Wildau<br>
                Tel.: 0152 7352 38291<br>
                Mail: fahrtenbuch@web.de<br>
            </p>
            <h5>Haftung für Inhalte</h5>
            <P>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
                allgemeinen<br>
                Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
                verpflichtet,<br>
                übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die
                auf eine<br>
                rechtswidrige Tätigkeit hinweisen.<br>
                <br>
                Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
                bleiben<br>
                hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
                konkreten<br>
                Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
                Inhalte<br>
                umgehend entfernen.<br>
                <br>
            </p>
        </div>
    </div>
</div>
{% endblock %}
