{% extends 'logbook/base.html' %}

{% block content %}

{# Benachtrichtigung, falls vorhanden #}
{% if msg %}
  <div class="msg-box">
    <p>{{ msg }}</p>
  </div>
{% endif %}

<div id="wrapper">
  <div id="shadow">
    <div class="container-fluid">

      <form class="" action="user_start" method="post">
        <!-- CSRF-Sicherung für Formulare -->
        {% csrf_token %}
        <div class="">
          <label for="user">Benutzername:</label>
          <input type="text" id="user" class="form-control" name="user" value="" placeholder="Benutzername">
        </div>

        <div class="">
          <label for="pw">Passwort:</label>
          <input type="password" id="pw" class="form-control" name="password" value="" placeholder="Passwort">
        </div>


        <div class="" style="margin-top: 10px">
          <label for="usertype">Sind Sie der Furhparkleiter?</label>
          <input type="checkbox" name="usertype" value="usertype">
        </div>

        <div class="">
          <input type="submit" class="btn btn-primary btn-lg" name="" value="Einloggen">
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
