{% extends 'logbook/base.html' %}

{% block content %}

<div id="wrapper">
    <div id="shadow">
        <div class="container-fluid">
            <div class="cat-box">
                <h3>Sie haben Anregungen, Wünsche oder benötigen Unterstützung?</h3>
                <br>
                Konstantin Müller & Melina Dobler <br><br>
                Hochschulring 1<br>
                15745 Wildau<br>
                Tel.: 0152 7352 38291<br>
                Mail: fahrtenbuch@web.de<br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
