{% extends 'logbook/base.html' %}

{% block content %}
{% include 'logbook/header.html' %}

{# Information anzeigen, falls eine übermittelt wurde #}
{% if msg %}

  <div class="msg-box">
    <p> {{ msg }}</p>
  </div>

{% endif %}


<div id="wrapper">
  <div id="shadow">
    {% if objlist %}
      <div class="table-responsive-sm">
        <h3>&ensp;{{ objlist.0.get_class }}</h3>

        <table class='table'>

        {# Tabellenkopf erstellen #}
          <tr>
            {# Schleife erstellt den Tabellenkopf mit den Feldnamen des ersten Objekts in der Datenbank #}
            {% for field, value in objlist.0.get_fields %}
              {% if field == 'ID' or field == auszulassen or field == 'password'%}
                {# kein Code hier entspricht "continue" #}
              {% else %}
                <th>{{ field }}</th>
              {% endif %}
            {% endfor %}
          </tr>

        {# Tabelleninhalte anzeigen, indem die Objekte in der übermittelten Objektliste einzeln durchiteriert werden #}
          {% for o in objlist %}
          <tr>
            {# Die Felder jedes Objekts durchiterieren und ausgeben #}
            {% for field, value in o.get_fields %}
              {# Kondition, um unerwünschte Felder nicht anzuzeigen #}
              {% if field == 'ID' or field == auszulassen or field == 'password'%}
                {# kein Code hier entspricht "continue" #}

              {# Kennzeichen statt fk anzeigen #}
              {% elif o.get_class != 'Fahrzeug' and field == 'Fahrzeug' %}
                <td> {{ o.get_kennz }}</td>

              {# sqlite3-Bug: keine Formatierung der Datumsanzeige möglich. Für spätere Bugbehebung aufgehoben #}
              {% elif field == 'Datum' %}
                <td>{{ value }}</td>

              {% else %}
                <td>{{ value }}</td>
              {% endif %}
            {% endfor %}

            <td>
              <form class="" action="eintr_aendern" method="post">
                {% csrf_token %}
                <input type="hidden" name="model" value="{{ o.get_class }}">
                <button type="submit" class="btn btn-primary" name="model_id" value="{{ o.id }}"> Eintragung ändern </button>
              </form>
            </td>

            {# Falls Nutzer der Fuhrparkleiter ist, wird ihm das Löschen von Einträgen ermöglicht #}
            {% if usertype == 'leiter' %}
            <td>
              <form class="" action="eintr_loeschen" method="post">
                {% csrf_token %}
                <input type="hidden" name="model" value="{{ o.get_class }}">
                <button type="submit" class="btn btn-danger" name="model_id" value="{{ o.id }}" onclick="return confirm('Sind Sie sicher?')"> Eintragung löschen </button>
              </form>
            </td>
            {% endif %}

          </tr>
            {% endfor %}
        </table>

  <div class="cat-box">
    <form class="" action="/" method="post">
      {% csrf_token %}
      <button class="btn btn-primary btn-lg" type="submit">Zurück</button>
    </form>
  </div>

</div>
{% endif %}
</div></div>
{% endblock %}
