{% extends 'logbook/base.html' %}

{% block content %}

<div id="wrapper">
    <div id="shadow">
        <div class="container-fluid">
            <div class="cat-box">
                <h3>Kontaktieren Sie uns:</h3>
                <h4>Wie können wir helfen?</h4>
                <br>
                <h4>24h-Hotline</h4><br>
                0173 74829 4893<br><br>
                <h4>Mailanfrage Support </h4>( max. Anwortzeit 6 Std.)<br>
                fahrtenbuch-sos@web.de<br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
