{% extends 'logbook/base.html' %}


{% block content %}
{% include 'logbook/header.html' %}

{# static muss hier neugeladen werden #}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<div class="container-fluid">

  <div class="header-box">
    <h3>Aktionen</h3>
  </div>

  <div class="row">

    {# Aktionen für Leiter rendern #}
    {% if usertype == 'leiter' %}

    <div class="col-md-6">

      <div class="cat-box .align-items-center">
        <div class="">
          <h4>Fahrer</h4>
        </div>

        <div class"">
          <img src="{% static 'img/person-icon-6.png' %}" width="200px" length="auto" alt="Fahrer">
        </div>

        <div class="form-group">
          <form class="" action="eintr_hzfg" style="margin-top: 10px" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg " type="submit" name="model" value="Fahrer">Fahrer hinzufügen</button>
          </form>
        </div>

        <div class="form-group">
          <form class="" action="fahrer_zuweis" method="post">
            {% csrf_token %}
            <button class="btn btn-secondary btn-lg " type="submit" name="blank" value="true">Fahrer einem Fahrzeug zuweisen</button>
          </form>
        </div>

        <div class="form-group">
          <form class="" action="list_all" method="post">
            {% csrf_token %}
            <button class="btn btn-info btn-md " type="submit" name="model" value="Fahrer">Fahrer einsehen</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="cat-box">
        <div class="">
          <h4>Fahrzeuge</h4>
        </div>

        <div class"">
          <img src="{% static 'img/icons8-car-100.png' %}"  width="200px" length="auto" alt="Fahrer">
        </div>

        <div class="form-group">
          <form class="" action="eintr_hzfg" method="post">
            {% csrf_token %}
          <button class="btn btn-primary btn-lg " type="submit" name="model" value="Fahrzeug">Fahrzeug hinzufügen</button>
          </form>
        </div>

        <div class="form-group">
          <form class="" action="list_all" method="post">
            {% csrf_token %}
            <button class="btn btn-info btn-md " type="submit" name="model" value="Fahrzeug">Fahrzeuge einsehen</button>
          </form>
        </div>
      </div>
    </div>


    <div class="col-md-6 ">
      <div class="cat-box">

        <div class="">
          <h4>Mängel</h4>
        </div>

        <div class"">
          <img src="{% static 'img/icons8-crashed-car-100.png' %}"  width="200px" length="auto" alt="Fahrer">
        </div>

        <div class="form-group">
          <form class="" action="eintr_hzfg" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg " type="submit" name="model" value="Mangel">Mangel eintragen</button>
          </form>
        </div>

        <div class="form-group">
          <form class="" action="list_all" method="post">
            {% csrf_token %}

            <button class="btn btn-info btn-md " type="submit" name="model" value="Mangel">Mängel einsehen</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 ">
      <div class="cat-box">

        <div class="">
          <h4>Rechnungen</h4>
        </div>

        <div class"">
          <img src="{% static 'img/icons8-receipt-euro-100.png' %}"  width="200px" length="auto" alt="Fahrer">
        </div>


        <div class="form-group">
          <form class="" action="eintr_hzfg" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg " type="submit" name="model" value="Rechnung">Rechnung eintragen</button>
          </form>
        </div>

        <div class="form-group">
          <form class="" action="list_all" method="post">
            {% csrf_token %}
            <button class="btn btn-info btn-md " type="submit" name="model" value="Rechnung">Rechnungen einsehen</button>
          </form>
        </div>
      </div>
    </div>

{% endif %}

    <!-- Ansicht für Fahrer rendern -->
    {% if usertype == 'fahrer' %}

    <div class="col-md-6">
      <div class="cat-box">

        <div class="">
          <h4>Fahrten</h4>
        </div>

        <div class"">
          <img src="{% static 'img/icons8-route-64.png' %}"  width="200px" length="auto" alt="Fahrer">
        </div>

        <div class="form-group">
          <form class="" action="eintr_hzfg" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg " type="submit" name="model" value="Fahrt">Fahrt eintragen</button>
          </form>
        </div>

        <div class="form-group">
          <form class="" action="list_single" method="post">
            {% csrf_token %}
            <button class="btn btn-info btn-md " type="submit"
              name="model" value="Fahrt">Fahrten anzeigen</button>
          </form>
        </div>
      </div>
    </div>

  <div class="col-md-6">
    <div class="cat-box">

    <div class="">
      <h4>Fahrzeug</h4>
    </div>

    <div class"">
      <img src="{% static 'img/icons8-car-100.png' %}"  width="200px" length="auto" alt="Fahrer">
    </div>

      <div class="form-group">
        <form class="" action="fahrzeug_daten" method="post">
          {% csrf_token %}
          <button class="btn btn-info btn-md " type="submit" name="kennz" value="{{ kennz }}">Fahrzeugdaten einsehen</button>
        </form>
      </div>
    </div>
  </div>

    <div class="col-md-6">
      <div class="cat-box">
        <div class="">
          <h4>Mängel</h4>
        </div>

        <div class"">
          <img src="{% static 'img/icons8-crashed-car-100.png' %}"  width="200px" length="auto" alt="Fahrer">
        </div>

        <div class="form-group">
        {# sicher gehen, dass Fahrer nur für sein Fahrzeug Mängel eintragen kann! #}
          <form class="" action="eintr_hzfg" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg " type="submit" name="model" value="Mangel">Mangel eintragen</button>
          </form>
        </div>

      <div class="form-group">
        <form class="" action="list_single" method="post">
          {% csrf_token %}
          <button class="btn btn-info btn-md " type="submit" name="model" value="Mangel">Mängel einsehen</button>
        </form>
      </div>
    </div>
    </div>


    <div class="col-md-6">
      <div class="cat-box">
        <div class="">
          <h4>Rechnungen</h4>
        </div>

        <div class"">
          <img src="{% static 'img/icons8-receipt-euro-100.png' %}"  width="200px" length="auto" alt="Fahrer">
        </div>

        <div class="form-group">
        {# sicher gehen, dass Fahrer nur für sein Fahrzeug Mängel eintragen kann! #}
        <form class="" action="eintr_hzfg" method="post">
          {% csrf_token %}
          <button class="btn btn-primary btn-lg " type="submit" name="model" value="Rechnung">Rechnung eintragen</button>
        </form>
        </div>

      <div class="form-group">

        <form class="" action="list_single" method="post">
          {% csrf_token %}
          <button class="btn btn-info btn-md " type="submit" name="model" value="Rechnung">Rechnungen einsehen</button>
        </form>
      </div>
    </div>
    </div>

  </div>
</div>

{% endif %}

{# alle Nutzer #}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="cat-box">
        <div class="header-box">
          <h3>Kontodetails</h3>
        </div>

        <div class="">
          <ul>
            <li><span style="font-weight: bold">Name: </span> {{ user.name }} </li>
            <li><span style="font-weight: bold">Mitarbeiternummer: </span> {{ user.work_id }} </li>
            <li><span style="font-weight: bold">E-mail: </span> {{ user.email }}</li>
            <li><span style="font-weight: bold">Tel: </span>{{ user.tel }}</li>

            {% if usertype == 'fahrer' %}
            <li><span style="font-weight: bold">Fahzeug: </span> {{ kennz }}</li>
            {% endif %}

          </ul>

          <div class="form-group">
            <form class="" action="account" id='change' method="post">
              {% csrf_token %}
              <button class="btn btn-primary btn-lg" type="submit" name="user" value="{{ usertype }}">Ihre Daten ändern</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
